/* ===================================
   MiHosting - Base
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --background:#060913;
    --surface:#0D1323;
    --surface2:#131C31;

    --primary:#1488FF;
    --secondary:#28C5FF;

    --white:#FFFFFF;
    --gray:#A9B3C8;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Inter',sans-serif;
    color:var(--white);
    min-height:100vh;
    overflow-x:hidden;

    background:
    radial-gradient(circle at 15% 0%, rgba(20,136,255,.10), transparent 30%),
    radial-gradient(circle at 90% 20%, rgba(40,197,255,.08), transparent 25%),
    linear-gradient(180deg,#05070E 0%,#08101C 45%,#05070E 100%);

}

/* Contenedor */

.container{

    width:min(1200px,92%);
    margin:auto;

}

a{

    color:inherit;
    text-decoration:none;

}

button{

    border:none;
    font-family:inherit;
    cursor:pointer;

}
